$clr-black: #000;
$clr-white: #fff;
$clr-orange: #f94e30;
$clr-light-orange: #ff6433;
$clr-light-gray: #f2f2f2;
$clr-light: #f4f4f4;
$clr-dark: #212529;
$clr-danger: #dc3545;
$clr-gray: #929292;

$font-family-base: "Manrope", sans-serif;
$transition-ease: all 300ms ease-in-out;

$radius-sm: 4px;
$radius-md: 8px;
$spacing-unit: 8px;
